<div fxLayout="row" fxLayoutAlign="space-around none">
    <form class="example-form" style="margin-bottom: 50px;">
      <div fxLayout="column" fxLayoutAlign="space-between none" >
          <div>
              <mat-form-field class="example-full-width" style="width: 500px;">
                  <input matInput placeholder="Car name">
                </mat-form-field>
          </div>
          <div>
              <mat-form-field class="example-full-width" style="width: 500px;">
                  <input matInput placeholder="Car model">
                </mat-form-field>
          </div>
          <button mat-raised-button color="primary" style="margin-bottom: 15px;">Add car</button>
          <button mat-raised-button color="warn">Load car</button>
      </div>
    </form>
</div>

<!-- fxLayout="column" fxLayoutAlign="space-around center" -->